.quoteBackground {
    width: 100vw;
    height: 100vh;
    z-index: 22;
    background: linear-gradient(147.15deg, #E8CAC6 18.73%, #E0D7D2 80.09%);
    margin: 0;
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 10vh 20vh 50vh 15vh;
}
.quoteWrapper {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    background: #C4C4C4;
    border-radius: 11px;
    padding: 15px;
}

.quoteHeader {
font-family: Rockwell;
font-style: normal;
font-weight: normal;
font-size: 33px;
line-height: 40px;
text-transform: capitalize;
color: #4F4F4F;
}

.quoteText {

font-family: 'Rockwell';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 158.69%;

text-align: center;

color: #000000;

}

.timerText {
grid-column-start: 2;
grid-row-start: 2;
grid-row-end: 2;
align-self: center;
justify-self: center;
}

.timer {
grid-column-start: 2;
grid-row-start: 2;
grid-row-end: 2;
align-self: center;
justify-self: center;

}

.buttonBack {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 50px;
    width: 30px;
    margin: 0.5em;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0%;

}

.arrowBack {
    width: 100%;
    height: 100%;
}