.timerWrapper {
    height: 57px;
}

.timerStyle {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 174%;
    justify-self: center;
    letter-spacing: 0.125em;
    color: white;
}

.timerText {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;
    color: #F9EFEF;
    font-size: 1.2em; 
}