.loadingScreenWrapper {
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 40vh 20vh 30vh 10vh;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background: #5F474F;
}

.logoWrapper {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
}

.loadingText {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
}

.loadingMessage {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.095em;   
}

.logo {
    opacity: 1;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


  @keyframes logo {
      0% {
          transform: scale(0.1);
      }
      100% {
          transform: scale(1);
      }
  }