@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  overflow: hidden;
  background: #5F474F;
  font-family: 'Josefin Sans', sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 10vh 25vh 60vh 10vh;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;

}
.header {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
	align-self: center;
  justify-self: center;
  font-family: 'Josefin Sans', sans-serif;
}

.actionsWrapper {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: auto;
	align-self: center;
	justify-self: center;
}

 .environment {
  background: #7ABCAC;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.27);
  border-radius: 11px;
  background-size: cover;
  

}

.others {
  background: #E8E8B6;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.27);
  border-radius: 11px;
  background-size: cover;
}

.myself {
  background: #F1B04E;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.27);
  border-radius: 11px;
} 