
 * {
    box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(147.15deg, #E8CAC6 18.73%, #E0D7D2 80.09%);
  font-family: var(--p-font);
}

.app {
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 10vh 25vh 60vh 10vh;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;

}
.header {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
	align-self: center;
	justify-self: center;
}

.actionsWrapper {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: auto;
	align-self: center;
	justify-self: center;
}

