
 * {
    box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  overflow: hidden;
  background: #242726;
  font-family: var(--p-font);
}

.app {
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 10vh 25vh 60vh 10vh;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;

}
.header {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
	align-self: center;
	justify-self: center;
}

.actionsWrapper {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: auto;
	align-self: center;
	justify-self: center;
}

 .environment {
  background: linear-gradient(308.89deg, #9A3CC4 -7.35%, #C631C8 64.89%);
  box-shadow: 0px 16px 19px 5px rgba(0, 0, 0, 0.13), 0px 28px 25px rgba(138, 3, 3, 0.1);
  border-radius: 11px;
  background-image: url(../src/assets/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg);
  background-size: cover;
  

}

.others {
  background: linear-gradient(308.89deg, #9A3CC4 -7.35%, #C631C8 64.89%);
  box-shadow: 0px 16px 19px 5px rgba(0, 0, 0, 0.13), 0px 28px 25px rgba(138, 3, 3, 0.1);
  border-radius: 11px;
  background-image: url(../src/assets/helena-lopes-PGnqT0rXWLs-unsplash.jpg);
  background-size: cover;
}

.myself {
  background: linear-gradient(308.89deg, #9A3CC4 -7.35%, #C631C8 64.89%);
  box-shadow: 0px 16px 19px 5px rgba(0, 0, 0, 0.13), 0px 28px 25px rgba(138, 3, 3, 0.1);
  border-radius: 11px;
 background-image: url(../src/assets/jared-rice-NTyBbu66_SI-unsplash.jpg);
} 