@font-face {
	font-family: 'Grandstander', cursive;
	src: url('./assets/Grandstander-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'BalooTammudu';
	src: url('./assets/BalooTammudu2-Regular.ttf') format('truetype');
}

body {
  margin: 0;
}

:root {
  --p-font: 'Grandstander';
  --p2-font: 'BalooTammudu';

}